<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ThinkMay | <%= status %> Page error</title>
	<!-- Google Font: Source Sans Pro -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="stylesheets/adminlte.min.css">
</head>

<body class="hold-transition sidebar-mini" style="background-color: #f4f6f9;">
	<div class="wrapper">
		<!-- Content Wrapper. Contains page content -->
		<div style="margin-left: 0px;" class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1><%= status %> Page error</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item active"><%= status %> Page error</li>
							</ol>
						</div>
					</div>
				</div><!-- /.container-fluid -->
			</section>
			<!-- Main content -->
			<section class="content">
				<div class="error-page">
					<h2 class="headline text-warning" style="font-size: 80px;"> <%= status %></h2>
					<div class="error-content">
						<h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Something went wrong.</h3>
						<p>
							We will work on fixing that right away.
							Meanwhile, you may try <a href="/dashboard">return to dashboard</a><br>
						<pre><%= stack %></pre>
						</p>
					</div>
					<!-- /.error-content -->
				</div>
				<!-- /.error-page -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</div>
	<footer class="main-footer" style="width: 100%;position: absolute;bottom: 0px;margin: 0px;">
		<div class="float-right d-none d-sm-block">
			<b>Version</b> 1.0.0
		</div>
		<strong>Copyright &copy; 2014-2021 <a href="#">ThinkMay</a>.</strong> All rights reserved.
	</footer>
	<!-- ./wrapper -->
	<!-- Bootstrap 4 -->
	<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
